.menu-bar {
    background: rgba(0,0,0,0.8);
    min-width: 1024px;
    width: 100%;
    height: 44px;
    font-size: 17px;
    z-index: 999;
}

.li-container {
    margin: 0 auto;
    max-width: 980px;
    padding: 0 22px;
    position: relative;
    z-index: 2;
}

.menu-header {
    margin: 0 -40px;
    width: auto;
    height: 44px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
}

.link-text {
    font-size: 12px;
    font-weight: 300;
}

.search{
    height: 40px;
}

.bag {
    height: 40px;
}

.main-banner {
    background-image: url(/img/psp-hero-banner-homepage-welcome.image.large_2x.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 30%;
    min-height: 540px;
    z-index: 1;
}

.menu-chapter {
    background-color: black;
    padding: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    height: 100px;
    z-index: 9987;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.chapter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.chapter-container li {
    margin-left: 44px;
}
.pro-icon , .ipad-icon{
    fill: #f5f5f7;
}
.menu-chapter .pro-icon {
    width: 41px;
}

.air-icon , .ipad-icon {
    width: 30px;
}

.pencil-icon {
    fill: #f5f5f7;
    width: 3px;
    margin: 0 auto;
}

.keyboard-icon .a{
    fill: none;
}

.keyboard-icon .b{
    fill: #f5f5f7;
}

.keyboard-icon {
    width: 63px;
}

.airpods-icon {
    width: 27px;
    margin-left: 5px;
}

.accessories-icon {
    width: 31px;
    margin-left: 5px;
}
.chapter-label {
    color: #fff;
    font-size: 12px;
    line-height: 1.33337;
    font-weight: 400;
    display: block;
    margin: 0;
}

.chapter-new {
    color: #f56300;
    font-size: 11px;
    line-height: 1.33337;
    font-weight: 400;
    display: flex;
    justify-content: center;
    margin-top: -3px;
}

.chapter-container li a {
    display: block;
    padding: 0;
    margin-top: 3px;
    position: relative;
    z-index: 1;
}

.name-box {
    height: 30px;
}

.footnote {
    position: absolute;
}

.section-container {
    padding-top: 68px;
    padding-bottom: 66px;
    background-color: #000;
}

.section-contant {
    margin-left: auto;
    margin-right: auto;
    width: 980px;
}

.section0contant .air-info {
    position: relative;
}

.air-info {
    display: flex;
    flex-direction: row;
}

.text-contant {
    color: #fff;
    width: 245px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-contant .spacial {
    position: absolute;
    width: 100%;
    top: -25px;
    background: rgba(0,0,0,0);
    border-color: #f56300;
    color: #f56300;
    font-size: 12px;
    line-height: 2.08337;
    font-weight: 400;
    
}

.text-contant .headline {
    font-size: 56px;
    position: relative;
}

.text-contant .explanation {
    font-size: 24px;
    font-weight: 600;
}
.hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
}
.air-hiddenimg {
    background-image: url(/img/air_script__coyet2g7gkia_large_2x.png);
    width: 88px;
    height: 46px;
    background-size: 88px 46px;
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: -7px;
    margin-bottom: -4px;
}

.price {
    margin-top: 20px;
    font-size: 17px;
}

.buy-button {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 980px;
    background: #0071e3;
    color: #fff;
    margin-top: 12px;
    margin-bottom: 13px;
}
.air-main-img img {
    width: 680px;
    height: 695px;
}